* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Open Sans", sans-serif;
}

/* padrões */

body {
    width: 100%;
    height: 100vh;
    background-color: #F5F4F0;
}

img {
    border-radius: 28px;
    width: 100%;
}

#page {
    margin: 88px 80px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: #d9d9d9;
}

#rodape {
    margin: 40px 0px;
}

h1 {
    color: #1B1B1B;
    font-weight: bold;
    font-size: 36px;
}

h2 {
    color: #1B1B1B;
    font-weight: bold;
    font-size: 32px;
}

h3 {
    color: #1B1B1B;
    font-weight: bold;
    font-size: 28px;
}

.headline {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #e1624f;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #333333;
  margin-top: 24px;
}

h4 {
    font-weight: bold;
    font-size: 16px;
}

p {
    color: #333333;
    font-size: 16px;
    font-weight: normal;
}

#accent-blue {
    color: #0C51A7;
}

#accent-pink {
    color: #591B98;
}

#accent-purple {
    color: #E5245E;
}

#accent-orange {
    color: #E95E10;
}

/* específicos */

#titulo h2 {
    margin-bottom: 8px;
}

#titulo h1 {
    margin-bottom: 40px;
}

#aboutMain {
    margin: 40px 0px;
}

#about {
    margin: 64px 0px;
}

#about h2 {
    margin-bottom: 2px;
}

#about h1 {
    margin-bottom: 8px;
}

.locais section{
    margin-bottom: 48px;
}

.locais img {
    margin-bottom: 20px;
}

.locais #NameLocal {
    margin-left: 50px;
    color: #1B1B1B;
    font-weight: bold;
    font-size: 28px;
}

.locais p {
    margin-top: 4px;
}

#bons {
    font-size: 16px;
}

.aboutLocal ul {
    list-style-type: disc;
    margin-left: 21px;
}

#aboutFinal {
    text-align: center;
}

footer {
    font-family: "Alice", serif;
    text-align: center;
    padding-bottom: 60px;
}

footer img {
    width: auto;
    vertical-align: middle;
}